@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}
*{
  scroll-behavior: smooth;

}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

h1{
  font-size: 56px;
  letter-spacing: -0.2px;
}




/*input{*/
/*  padding-block: 10px;*/
/*  padding-inline: 15px;*/
/*  background: #F8F8F8;*/
/*}*/

/**{*/
/*  letter-spacing: -0.2px;*/
/*}*/



.container {
  overflow-y: hidden;

}
.container-show{
  overflow-y: hidden;
}

nav {
  display: flex;
  justify-content: space-between;

  .logo-container {
    overflow-y: hidden;

    h1 {
      text-transform: uppercase;
      font-size: 15px;
    }
  }

  .menu-container {
    overflow-y: hidden;

    div {
      text-transform: uppercase;
      font-size: 13px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;

  /*button {*/
  /*    align-self: flex-end;*/
  /*    margin: 35px 45px 0 0;*/
  /*    outline: none;*/
  /*    border: none;*/
  /*    background-color: transparent;*/
  /*    text-transform: uppercase;*/
  /*    font-family: inherit;*/
  /*    font-size: 13px;*/
  /*    color: white;*/

  /*    &:hover {*/
  /*        cursor: pointer;*/
  /*    }*/
  /*}*/

  ul {
    list-style: none;
    margin-top: 40px;

    li {
      margin: 20px 0;
      overflow-y: hidden;
      user-select: none;

      div {
        text-align: center;
        text-transform: capitalize;
        font-size: 34px;
      }

    }
  }

  .contact {
    margin-top: 80px;
    display: flex;

    h5 {
      font-weight: normal;

      &:first-of-type {
        margin-right: 40px;
      }
    }
  }
}